*{
    box-sizing: border-box;
    margin: 0;
   
    
    
}

:root {
    --primary: #00b06c;
    --secundary: #777777;
    --borders: hsl(0, 0%, 92%);
    --hoover: #F6F6F6;
}
.border{
    border-bottom: 1px solid var(--borders);
}

.header-top{
    font-size: 13px;
    color: var(--secundary);
    display:flex;
    justify-content: space-between;
    margin: 0 20%;  
    }
.phone {
    font-family: arial;
    padding:5px 0px 10px;
   
}
.phone span{
    font-family: arial;
}
.phone img{
    height: 1rem
  
}

.option{    display: inline-flex;
    font: roboto,sans-serif;
}
.option div{
    justify-content: center;
    align-items: center;   
    font-family: roboto;
}
.contact{
    padding: 8px 10px 11px;
    text-decoration: none;
    color: var(--secundary);   
}
.lenguage{
    padding: 8px 10px 10px; 
    color: var(--primary)
   
}
.money{
    padding: 8px 10px 10px;
    }
.money strong{
    color: var(--primary);
}

.login{
    padding: 8px 9px 11px 8px;
    text-decoration: none;
    color: var(--secundary);
      
}
.flechita img {
    height: 10px;
    width: 8px;
    
}
.flechita{
    
    padding-top: 10px;
    
}

.checkbox{
    display:none ;
}

.lenguage-nav{
    position: absolute;
    list-style-type: none;
   display: none;
    width: 157px;
    padding-left: 0px;
    margin-top: 140px;
    margin-left: 100px;
    z-index: 10;
    border:1px solid var(--borders);      
}
.money-nav{
    position: absolute;
    list-style-type: none;
   display: none;
    width: 157px;
    padding-left: 0px;
    margin-top: 250px;
    margin-left: 100px;
    z-index: 10;
    border:1px solid var(--borders);
}
.nav-links{
    display: block;
     text-decoration: none;
    font-family: arial; 
    height: 35px;
    width: 157px;
    line-height: 30px;
    
}
.selected{
    background-color: var(--hoover);
}
.nav-links span{
   display: block;
   color: var(--secundary);
   padding-left: 10px;
}
.nav-links span:hover{
    background-color: var(--hoover);
    color: var(--primary);
}

#lenguageToggle:checked + ul.lenguage-nav{
    display: block;
    
}




#moneyToggle:checked +ul.money-nav{
    display: block;
}