*{
    box-sizing: border-box;
    margin: 0;
   
    
    
}

:root {
    --primary: #00b06c;
    --secundary: #777777;
    --borders: hsl(0, 0%, 92%);
    --hoover: #F6F6F6;
}


.header-top{
    font-size: 13px;
    color: var(--secundary);
    display:flex;
    justify-content: space-between;
    padding: 0 15%;  
    }
.phone {
    font-family: arial;
    padding:5px 0px 10px 0px;
   
}
.phone span{
    font-family: arial;
}
.icon{
    height: 1rem
  
}

.option{    display: inline-flex;
    font: roboto,sans-serif;
}
.option div{
    justify-content: center;
    align-items: center;   
    font-family: roboto;
}
.contact{
    padding: 8px 10px 11px;
    text-decoration: none;
    color: var(--secundary);   
}
.lenguage{
    padding: 8px 10px 10px; 
    color: var(--primary)
   
}
.money{
    padding: 8px 10px 10px;
    }
.money strong{
    color: var(--primary);
    padding-left: 5px;
}

.login{
    padding: 8px 9px 11px 8px;
    text-decoration: none;
    color: var(--secundary);
    
      
}
.flechita img {
   height: 10px;
    width: 8px;
    
}
.flechita{
    
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 5px; 
    
}

.checkbox{
    display:none ;
}

.lenguage-nav{
    position: absolute;
    list-style-type: none;
   display: none;
    width: 157px;
    padding-left: 0px;
    margin-top: 140px;
    margin-left: 100px;
    z-index: 10;
    border:1px solid var(--borders);   
    background-color: #ffff;   
}
.money-nav{
    position: absolute;
    list-style-type: none;
   display: none;
    width: 157px;
    padding-left: 0px;
    margin-top: 250px;
    margin-left: 100px;
    z-index: 10;
    border:1px solid var(--borders);
    background-color: #ffff;   

}
.nav-links{
    display: block;
     text-decoration: none;
    font-family: arial; 
    height: 35px;
    width: 157px;
    line-height: 30px;
    
}
.selected{
    background-color: var(--hoover);
}
.nav-links span{
   display: block;
   color: var(--secundary);
   padding-left: 10px;
}
.nav-links span:hover{
    background-color: var(--hoover);
    color: var(--primary);
}

#lenguageToggle:checked + ul.lenguage-nav{
    display: block;   
}
#moneyToggle:checked +ul.money-nav{
    display: block;
}

.border{
    border-top:1px solid var(--borders);
    border-bottom: 1px solid var(--borders);
}
.header-middle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:0 15%;   
}
.search{
    padding:45px 7px 0px;
    height: 90px;
  
}
.search div{
  display:flex;
  height: 45px;
  width: 80%;
 background-color: var(--hoover);
 border: 2px solid #e2e3e4
}
.search > div input{
padding-left: 7px;
width: 90%;
border: none;
outline:none;
background-color: transparent;

}
.search >div button{
    border: none;
    outline:none;
    background-color: transparent;
}
.lupa{
    height: 20px;
}
.search div:hover{
    border: 2px solid var(--primary);
    width: 100%;
    transition: 0.4s;
}
.logo{
    height: 221px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
    overflow: hidden;
    
}
.buy-review{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.buy-review div{
    display: flex;
    justify-content:right;
    align-items: end; 
    margin-bottom: 10px;
}
.carrito{
    border: 2px solid var(--borders);
    border-top:3px solid var(--primary);
    height: 50px;
    width: 70%;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding: 7px 10px 14px 16px;
}
.carro{
padding-right: 15px;
}
.carrito span{
    font-family: open sains, sans serif;
    padding-right: 20px;
}
.flecha{
    margin-left: 60px;
    width: 10px;
    height: 10px;
}
.flecha:hover{
 display:none
}
.header-bottom{
   display:flex;
   flex-direction: wrap;
    margin: 0 15%;

}
.sections{
    padding: 0 6px;
    display:flex;
    flex-direction: wrap;
    font-size: 14px ;
    font-weight: bold;
}
.secions span{
    display: flex;
}
.flechita{
    /* width: 10%; */
}
.kids span{
    color: rgb(68 49 161);
}
